<title>Author Detail</title>
<p>
  {{author.username}}
</p>
<p>
  <img src={{author.profilePicture}} alt="Imagen de perfil">
</p>
<p>
  First name: {{author.firstName}}
</p>
<p>
  Last name: {{author.lastName}}
</p>
<p>
  Email: {{author.email}}
</p>
<p>
  Posts:
  <table>
    <tr>
      <th> </th>
      <th>Title</th>
      <th>Published date</th>
      <th>Content</th>
    </tr>
    {{#each author.posts as |post|}}
      <tr>
        <button type="button" {{action 'delete' post}}> Delete Post </button>
      </tr>
    {{/each}}
  </table>
</p>

{{outlet}}
